# 1. Concatenate

In [1]:
fruits_01 = ('Apple', 'Banana', 'Orange')
fruits_02 = ('Kiwi', 'Papaya')

In [2]:
all_fruits = fruits_01 + fruits_02
all_fruits

('Apple', 'Banana', 'Orange', 'Kiwi', 'Papaya')

# 2. Multiply

In [3]:
items = ('Ball', 'Umberlla', 'chair', 'pen')
items * 2

('Ball', 'Umberlla', 'chair', 'pen', 'Ball', 'Umberlla', 'chair', 'pen')

In [4]:
numbers = (1, 4, 6)
numbers * 3

(1, 4, 6, 1, 4, 6, 1, 4, 6)

# 3. Sort

In [5]:
numbers = (9, 56, 9, 2, 67, 54, 90)
tuple(sorted(numbers))

(2, 9, 9, 54, 56, 67, 90)

# 4. Unpacking

In [6]:
person = ('vishali', '23', 'vishali@gmail.com')
person

('vishali', '23', 'vishali@gmail.com')

In [9]:
name, age, mail = person

print(name)
print(age)
print(mail)

vishali
23
vishali@gmail.com