# 1. Creating list of cubes from list of numbers

In [20]:
numbers = list(range(1, 10))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
# Ordinary Method
cubes = []
for num in numbers:
    cubes.append(num**3)


cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729]

# 2. Using List Comprehension

In [22]:
# List comprehension
cubes = [num**3 for num in range(1,10)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729]

# 3. List comprehension on strings

In [23]:
music_directors = ['Aniruth', 'Yuvan','sana','Gv','Ar']

mr_music_directors = []
for music_directors in music_directors:
    mr_music_directors.append(f'Mr. {music_directors}')

mr_music_directors

['Mr. Aniruth', 'Mr. Yuvan', 'Mr. sana', 'Mr. Gv', 'Mr. Ar']

In [24]:
[f'Mr. {music_directors}' for music_directors in music_directors]

['Mr. A', 'Mr. r']

# 4. Tax Calculation

In [25]:
price_list = [170,200,381,45,97,397]
price_with_gst = []
for price in price_list:
    tax = price*(18/100)
    total = round(price * tax, 2)
    price_with_gst.append(total)

price_with_gst

[5202.0, 7200.0, 26128.98, 364.5, 1693.62, 28369.62]

In [26]:
price_with_gst = [round(price + price* (18/100),2)for price in price_list]
price_with_gst

[200.6, 236.0, 449.58, 53.1, 114.46, 468.46]

# 5. apply Comditional Statements

In [4]:
numbers = list(range(1; 10))|
numbers

SyntaxError: invalid syntax (3880328847.py, line 1)

In [3]:
# cube the numbers which is divisible by  2 and 3
[x**3 for x in numbers if x%2 == 0 and x%3 ==0]

[216]